@page "/"
@rendermode InteractiveServer
@inject ActionHandlers.MadplanHandler MadplanHandler
@inject ActionHandlers.TilbudHandler TilbudHandler

<PageTitle>Madplan</PageTitle>

<div>
    <h3 class="float-start">Madplan</h3>
    <h4 class="float-end">@GetTotalPrice().ToString() kr.</h4>
    <br><br>
    <p class="float-start" style="font-style: italic;">@currentMadplan.Year Uge @currentMadplan.Week</p>
    <p class="float-end">@GetTotalCalories().ToString() kcal.</p>
</div>

<div class="container">
    <div class="row mt-5">
        @for (var i = 0; i <= currentMadplan.MadplanRetter.Count() - 1; i++)
        {
            var index = i;
            <div class="col m-1 p-2" style="background-color: #f0f0f0; border-radius: 5px;">
                @if(currentMadplan != null && currentMadplan.MadplanRetter != null && currentMadplan.MadplanRetter[i].Ret != null)
                {
                    <div style="height: 390px;">
                        <p class="text-center mt-2" style="text-transform: uppercase; font-weight: 300;">@dage[i]</p>
                        <hr>
                        
                        @if(!currentMadplan.MadplanRetter[i].Removed)
                        {
                            <h6>@currentMadplan.MadplanRetter[i].Ret.Name</h6>
                            <i>@currentMadplan.MadplanRetter[i].Ret.Description</i>
                            
                            <p class="mt-3 mb-0" style="font-weight: 300; font-size: 15px;">INGREDIENSER</p>

                            @foreach (var ingrediens in @currentMadplan.MadplanRetter[i].Ret.Ingredienser)
                            {
                                <span style="font-size: 14px; font-weight: 300; margin-left: 5px">- @ingrediens.Grams g @ingrediens.Produkt.Name</span> <br>
                            }
                        }
                    </div>
                    <div class="m-1 mb-2">
                        <span 
                            class="float-start p-2 text-center" 
                            style="background-color: dimgrey; color: white; border-radius: 10px; font-size: 11px;">
                            @if (!@currentMadplan.MadplanRetter[i].Removed) 
                            {
                                <span>@Math.Round(@currentMadplan.MadplanRetter[i].Ret.CalculatedPrice, 2) kr.</span>
                            } else 
                            {
                                <span>0 kr.</span>
                            }
                        </span>
                        <span 
                            class="float-end p-2" 
                            style="background-color: dimgrey; color: white; border-radius: 10px; font-size: 11px;">
                            @if (!@currentMadplan.MadplanRetter[i].Removed) 
                            {
                                <span>@Math.Round(@currentMadplan.MadplanRetter[i].Ret.CalculatedCalories, 2) kcal</span>
                            } else 
                            {
                                <span>0 kcal</span>
                            }
                        </span>
                    </div>
        
                    <br>

                    <div class="text-center mt-2">
                        <button @onclick="() => Switch(currentMadplan.MadplanRetter[index])" class="btn btn-outline-dark btn-sm m-1" style="width: 60px; border-radius: 10px;">Skift</button>
                        <button @onclick="() => ToggleRet(currentMadplan.MadplanRetter[index])" class="btn btn-outline-dark btn-sm m-1" style="width: 60px; border-radius: 10px;">
                            @if(!currentMadplan.MadplanRetter[i].Removed)
                            {
                                <span>Fjern</span>
                            } else
                            {
                                <span>Tilføj</span>
                            }
                            
                        </button>
                    </div>
                }
            </div>
        }
    </div>
</div>

<hr>

<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Uge</th>
      <th scope="col">År</th>
      <th scope="col">Pris</th>
      <th scope="col">Kcal</th>
      <th @onclick="() => CreateMadplan()" style="cursor: pointer;">+</th>
    </tr>
  </thead>
  <tbody>
    @foreach(var plan in madplaner)
    {
        var selected = plan.Id == currentMadplan.Id ? "background-color: #f0f0f0;" : "";
        <tr @onclick="() => SelectMadplan(plan)" style="cursor: pointer; @selected">
            <th scope="row">@plan.Id</th>
            <td>@plan.Week</td>
            <td>@plan.Year</td>
            <td>@plan.Price kr.</td>
            <td>@plan.Calories kcal</td>
            <th @onclick:stopPropagation @onclick="() => ShowConfirmDelete(plan)" style="z-index: 1;">-</th>
        </tr>
    }
  </tbody>
</table>

<ModalConfirm 
    Title = "Vil du slette madplan?" 
    ShowConfirmation = "showConfirmDelete"
    OnConfirmation = "DeleteMadplan"
/>

@code {
    private bool showConfirmDelete = false;
    private Models.Madplan? madplanToDelete;
    private Models.Madplan currentMadplan;
    private List<Models.Madplan> madplaner = new List<Models.Madplan>();
    private List<Models.Dag> dage = Models.Dage.AlleDage;

    protected override async Task OnInitializedAsync()
    {
        madplaner = MadplanHandler.GetAllMadplaner();
        currentMadplan = MadplanHandler.GetCurrentMadplan();

        // Update the tilbud data when entering page
        // TilbudHandler.UpdateRemaTilbudAsync();
        
        await Task.Delay(100);
    }

    private void Switch(Models.MadplanRet madplanRet)
    {
        madplanRet.Removed = false;
        MadplanHandler.UpdateMadplanRet(madplanRet);
        currentMadplan = MadplanHandler.Switch(currentMadplan, madplanRet);
    }

    private void CreateMadplan()
    {
        MadplanHandler.CreateMadplan();
        madplaner = MadplanHandler.GetAllMadplaner();
    }

    private void SelectMadplan(Models.Madplan madplan)
    {
        currentMadplan = MadplanHandler.GetMadplan(madplan.Week, madplan.Year);
    }

    // EventHandler
    private void DeleteMadplan(bool confirmed)
    {
        if (confirmed)
        {
            if (madplanToDelete != null)
            {
                MadplanHandler.DeleteMadplan(madplanToDelete);
            }

            madplaner = MadplanHandler.GetAllMadplaner();
        }
        
        currentMadplan = MadplanHandler.GetCurrentMadplan();
        
        showConfirmDelete = false;
        madplanToDelete = null;
    }

    private async void ShowConfirmDelete(Models.Madplan madplan)
    {
        madplanToDelete = madplan;
        showConfirmDelete = true;
        await Task.Delay(100);
    }

    private void ToggleRet(Models.MadplanRet madplanRet)
    {
        madplanRet.Removed = !madplanRet.Removed;

        MadplanHandler.UpdateMadplanRet(madplanRet);
        currentMadplan = MadplanHandler.GetCurrentMadplan();
    }

    private double GetTotalPrice()
    {
        double totalPrice = 0;

        if (currentMadplan == null || currentMadplan.MadplanRetter == null) {
            return 0;
        }

        foreach (var madplanRet in currentMadplan.MadplanRetter)
        {
            if (madplanRet != null && madplanRet.Ret != null && madplanRet.Ret.CalculatedPrice != null)
            {
                if (!madplanRet.Removed)
                {
                    totalPrice += (double)madplanRet.Ret.CalculatedPrice;
                }
            }
        }

        totalPrice = Math.Round(totalPrice, 2);

        currentMadplan.Price = totalPrice;
        currentMadplan = MadplanHandler.UpdateMadplan(currentMadplan);

        return totalPrice;
    }

    private double GetTotalCalories()
    {
        double totalCalories = 0;

        if (currentMadplan == null || currentMadplan.MadplanRetter == null) {
            return 0;
        }

        foreach (var madplanRet in currentMadplan.MadplanRetter)
        {
            if (madplanRet != null && madplanRet.Ret != null && madplanRet.Ret.CalculatedCalories != null)
            {
                if (!madplanRet.Removed)
                {
                    totalCalories += (double) madplanRet.Ret.CalculatedCalories;
                }
            }
        }

        totalCalories = Math.Round(totalCalories, 2);

        currentMadplan.Calories = totalCalories;
        currentMadplan = MadplanHandler.UpdateMadplan(currentMadplan);

        return totalCalories;
    }
}
